[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4; SET AUTOCOMMI =0'
skip-character-set-client-handshake
lower_case_table_names=1
long-query-time=5
log-queries-not-using-indexes
log-slow-admin-statements